[submodule "STT-Wizard"]
	path = STT-Wizard
	url = https://github.com/Scikous/STT-Wizard
[submodule "TTS-Wizard"]
	path = TTS-Wizard
	url = https://github.com/Scikous/TTS-Wizard
[submodule "LLM-Wizard"]
	path = LLM-Wizard
	url = https://github.com/Scikous/LLM-Wizard
